astropy>=4.2.1
astroquery>=0.4.2
async-generator>=1.10
beautifulsoup4>=4.9.3
certifi>=2021.5.30
chardet>=4.0.0
cryptography>=3.4.7
cycler>=0.10.0
entrypoints>=0.3
html5lib>=1.1
idna>=2.10
importlib-metadata>=4.5.0
ipykernel>=5.5.5
jedi>=0.17.0
jeepney>=0.6.0
jupyter>=1.0.0
keyring>=23.0.1
matplotlib>=3.4.2
numpy>=1.20.3
olefile>=0.46
pandas>=1.2.4
pyerfa>=2.0.0
pySLALIB>=1.0.4
pyvo>=1.1
pyzmq>=20.0.0
QtPy>=1.9.0
requests>=2.25.1
scipy>=1.6.3
soupsieve>=2.2.1
terminado>=0.9.4
typing-extensions>=3.10.0.0
urllib3>=1.26.5
webencodings>=0.5.1
widgetsnbextension>=3.5.1
xarray>=0.18.2
